.Connection-status
{
    position: fixed;
    bottom: 0px;
    right: 0px;

    .status-bbox
    {
        padding: 5px;
        box-sizing: border-box;
        margin: 5px 0px 0px 0px;
        border-radius: 5px 0px 0px 0px;

        > p
        {
            margin: 0px;
            font-size: 0.6rem;
        }
    }
    .status-on
    {
        background-color: #208f7d;
        color: #FFF;
    }
    .status-off
    {
        background-color: #c70e0e;
        color: #FFF;
    }
    .status-check
    {
        background-color: #ffa600;
        color: #000;
    }
    .conn-validator
    {
        background-color:rgba(255, 255, 255, 0.7);
    }
}