.App {
  text-align: center;
  height: 100%;
}

.App-header {
  background-color: #FFF;
  height: 100%;
}


.mt-5px
{
  margin-top: 5px !important;
}
.mb-5px
{
  margin-bottom: 5px !important;
}


.btn-link
{
  cursor: pointer;
  background-color: transparent;
  border: 0px;
  vertical-align: middle;
}
.btn-link:hover
{
  text-decoration: underline;
}

.btn-material
{ 
  cursor: pointer;
  background-color: #E0E0EF;
  border: 0px;
  padding: 10px;
  margin: 0px 5px;
  border-radius: 5px;
  vertical-align: middle;
}

.btn-material-large
{
  width: calc(100% - 10px);
}

.btn-material-ico
{
  padding: 5px;
  box-sizing: border-box;
  min-width: 50px;
  vertical-align: middle;
}

.btn-material-ico img
{
  width: 23px;
}

.btn_material_red
{
  background-color: rgb(196, 2, 2);
  color: #FFF;
}




.app-body
{
  position: relative;
}

.main-menu
{
  position: fixed;
  height: calc(100vh - 5px);
  width: 250px;
  background-color: #FFF;
  padding: 10px;
  box-sizing: border-box;
  border-right: solid 1px #DDD;
  border-bottom: solid 1px #DDD;
  border-radius: 10px 0px;
  overflow: auto;
}

.main-menu hr
{
  border: 0px;
  border-top: solid 1px #DDD
}


.app-body
{
  height: 100%;
}

.content
{
  position: absolute;
  left: 250px;
  width: calc(100% - 250px);
  height: 100%;
  overflow: auto;
}

.content header
{
  padding: 10px;
  border-bottom: solid 1px #DDD;
  background-color: #FAFAFA;
}